


{{#each lists as |list|}}

  <table class="table" data-id="{{id}}">

      <td><h3 data-id="{{list.id}}">{{note}}</h3></td>
  <td><button data-id="{{list.id}}" type="button" name="button" class="remove-list glyphicon glyphicon-remove-sign"></button>



  </td>
</table>

{{/each}}
