


{{#each lists as |list|}}

  <ul data-id="{{id}}">
    <li><h1 data-id="{{list.id}}">ID: {{id}} Note: {{note}} </li>
  <li><button type="button" name="button" class="remove-list">Remove</button></li>
</ul>

{{/each}}
